/*
  =====================================
  Bear Image
  =====================================
*/
#img-circle {
    border-radius: 50%;
    width: 200px;
}

/*
  =====================================
  Contact
  =====================================
*/
.contact {
	width: 50px;
	padding: 0;
	margin-right: 2%;
}

/*
  ==================
  DISCOGRAPHY IMAGES
  ================
*/
.img-responsive {
  display: inline-block;
}